.obj1{
    position:absolute;
    width: 34px;
    height: 35px;
    background-image: url(pacmanright.gif);
   
    top:0px;
    left:0px;
    max-width:400px;max-height:400px;
    border-radius: 92px;
    box-shadow: 0px 0px 35px yellow;
    background-size: cover;
   }


.bicho{

    width: 58px;
    height: 4px;
    top: 300px;
    left:0px;
    position: relative;
    box-shadow:2px 1px 19px 8px #fbff00;
    border-radius:114%;
}
#fantasma{

    width: 60px;
    height: 60px;
    border: 60px -16px teal;
}

#audio{
    display: none
    }
}

.points {
    font-variant-numeric: tabular-nums;
    font-size: 20px;
    position: fixed;
    top : 40px;
    left : 30px;
    color: white;
}
