.obj1{
position:absolute;
width:40px;
height:40px;
background:red;
background-size:cover ;
top:0px;
left:0px;

}

.bicho{

    width: 40px;
    height: 40px;
    top: 300px;
    left:0px;
    position: relative;
}
